<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WcfService1.Properties.Settings.Student2014_07_24ConnectionString"
            connectionString="Data Source=S219-4\sqlexpress;Initial Catalog=Student2014-07-24;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>